<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Endpoints</title>
  </head>
  <body>
    <div class="student-routes">
      <h1>Student routes</h1>
    </div>
    <table>
      <thead>
        <tr>
          <th>Route</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Get</td>
          <td>/get-all</td>
        </tr>
        <tr>
          <td>Create</td>
          <td>/add</td>
        </tr>
        <tr>
          <td>Update</td>
          <td>/update/:id</td>
        </tr>
        <tr>
          <td>Delete</td>
          <td>/delete/:id</td>
        </tr>
      </tbody>
    </table>
    <div class="student-routes">
      <h1>Educator routes</h1>
    </div>
    <table>
      <thead>
        <tr>
          <th>Route</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Get</td>
          <td>/get-all</td>
        </tr>
        <tr>
          <td>Create</td>
          <td>/add</td>
        </tr>
        <tr>
          <td>Update</td>
          <td>/update/:id</td>
        </tr>
        <tr>
          <td>Delete</td>
          <td>/delete/:id</td>
        </tr>
      </tbody>
    </table>
    <div class="student-routes">
      <h1>Auth routes</h1>
    </div>
    <table>
      <thead>
        <tr>
          <th>Route</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Signup</td>
          <td>/register</td>
        </tr>
        <tr>
          <td>Login</td>
          <td>/login</td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
  </body>
</html>
